<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./tests/bootstrap.php"
    stopOnFailure="false"
    colors="true">
    <testsuites>
        <testsuite name="test">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <!-- Remove <log> elements when PHP unit bumped 9.X -->
        <log type="junit" target="build/junit/junit.xml" />
        <log type="coverage-html" target="build/coverage/html/" />
        <log type="coverage-clover" target="build/coverage/clover.xml" />
        <!-- For PHP unit 9.X --> <!--
        <junit outputFile="build/junit/junit.xml"/>
        -->
    </logging>
    <!-- Remove <filter> element when PHP unit bumped 9.X -->
    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./tests</directory>
                <directory suffix=".twig">./src/template</directory>
            </exclude>
        </whitelist>
    </filter>
    <!-- For PHP unit 9.X --> <!--
    <coverage
            includeUncoveredFiles="true"
            processUncoveredFiles="true"
    >
        <report>
            <html outputDirectory="build/coverage/html/"/>
            <clover outputFile="build/coverage/clover.xml" />
        </report>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./tests</directory>
            <directory suffix=".twig">./src/template</directory>
        </exclude>
    </coverage>
    -->
</phpunit>
