<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./tests/bootstrap.php"
    stopOnFailure="false"
    colors="true">
    <testsuites>
        <testsuite name="test">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="build/junit/junit.xml"/>
        <text outputFile="php://stdout"/>
    </logging>
    <coverage
            includeUncoveredFiles="true"
            processUncoveredFiles="true"
    >
        <report>
            <html outputDirectory="build/coverage/html/"/>
            <clover outputFile="build/coverage/clover.xml" />
        </report>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./tests</directory>
            <directory suffix=".twig">./src/template</directory>
        </exclude>
    </coverage>
</phpunit>
