<html>
    <head>
        <style>
        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 1.6em;
            margin: 1.8em 0 1.4em;
        }
        pre {
            padding: 20px;
            background: #fff;
            border: solid 1px #ccc;
            border-radius: 10px;
            font-family: menlo, monospace;
            word-wrap: break-word;
        }
        </style>
    </head>
    <body style="padding: 20px; font-family: 'Hiragino Kaku Gothic', Helvetica; font-size: 16px; background: #fcfcfc; ">
    <div style="margin: 0 auto;">
        <h1>403 Method Not Allowed</h1>
    </div>
    </body>
</html>
